DATASET LINK *https://www.kaggle.com/c/home-credit-default-risk/overview
*

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving kaggle.json to kaggle.json

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.17.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2024.12.14)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.67.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.2.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.10)

In [ ]:
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle competitions download -c home-credit-default-risk

Downloading home-credit-default-risk.zip to /content
 99% 681M/688M [00:11<00:00, 79.1MB/s]
100% 688M/688M [00:11<00:00, 63.5MB/s]

In [ ]:
!unzip home-credit-default-risk.zip

Archive:  home-credit-default-risk.zip
  inflating: HomeCredit_columns_description.csv
  inflating: POS_CASH_balance.csv
  inflating: application_test.csv
  inflating: application_train.csv
  inflating: bureau.csv
  inflating: bureau_balance.csv
  inflating: credit_card_balance.csv
  inflating: installments_payments.csv
  inflating: previous_application.csv
  inflating: sample_submission.csv

In [ ]:
import pandas as pd

# تحميل البيانات
credit_card_balance = pd.read_csv('credit_card_balance.csv')

credit_card_balance.head(10)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.500,0.0,877.500,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.000,0.0,0.000,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.000,0.0,0.000,2250.000,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.000,0.0,0.000,11795.760,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.000,0.0,11547.000,22924.890,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0
5,2646502,380010,-7,82903.815,270000,0.0,0.000,0.0,0.000,4449.105,...,82773.315,82773.315,0.0,0,0.0,0.0,2.0,Active,7,0
6,1079071,171320,-6,353451.645,585000,67500.0,67500.000,0.0,0.000,14684.175,...,351881.145,351881.145,1.0,1,0.0,0.0,6.0,Active,0,0
7,2095912,118650,-7,47962.125,45000,45000.0,45000.000,0.0,0.000,0.000,...,47962.125,47962.125,1.0,1,0.0,0.0,51.0,Active,0,0
8,2181852,367360,-4,291543.075,292500,90000.0,289339.425,0.0,199339.425,130.500,...,286831.575,286831.575,3.0,8,0.0,5.0,3.0,Active,0,0
9,1235299,203885,-5,201261.195,225000,76500.0,111026.700,0.0,34526.700,6338.340,...,197224.695,197224.695,3.0,9,0.0,6.0,38.0,Active,0,0

In [ ]:
credit_card_balance.shape

(3840312, 23)

In [ ]:
credit_card_balance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3840312 entries, 0 to 3840311
Data columns (total 23 columns):
 #   Column                      Dtype
---  ------                      -----
 0   SK_ID_PREV                  int64
 1   SK_ID_CURR                  int64
 2   MONTHS_BALANCE              int64
 3   AMT_BALANCE                 float64
 4   AMT_CREDIT_LIMIT_ACTUAL     int64
 5   AMT_DRAWINGS_ATM_CURRENT    float64
 6   AMT_DRAWINGS_CURRENT        float64
 7   AMT_DRAWINGS_OTHER_CURRENT  float64
 8   AMT_DRAWINGS_POS_CURRENT    float64
 9   AMT_INST_MIN_REGULARITY     float64
 10  AMT_PAYMENT_CURRENT         float64
 11  AMT_PAYMENT_TOTAL_CURRENT   float64
 12  AMT_RECEIVABLE_PRINCIPAL    float64
 13  AMT_RECIVABLE               float64
 14  AMT_TOTAL_RECEIVABLE        float64
 15  CNT_DRAWINGS_ATM_CURRENT    float64
 16  CNT_DRAWINGS_CURRENT        int64
 17  CNT_DRAWINGS_OTHER_CURRENT  float64
 18  CNT_DRAWINGS_POS_CURRENT    float64
 19  CNT_INSTALMENT_MATURE_CUM   float64
 20  NAME_CONTRACT_STATUS        object
 21  SK_DPD                      int64
 22  SK_DPD_DEF                  int64
dtypes: float64(15), int64(7), object(1)
memory usage: 673.9+ MB

In [ ]:
credit_card_balance.isnull().sum()

SK_ID_PREV                         0
SK_ID_CURR                         0
MONTHS_BALANCE                     0
AMT_BALANCE                        0
AMT_CREDIT_LIMIT_ACTUAL            0
AMT_DRAWINGS_ATM_CURRENT      749816
AMT_DRAWINGS_CURRENT               0
AMT_DRAWINGS_OTHER_CURRENT    749816
AMT_DRAWINGS_POS_CURRENT      749816
AMT_INST_MIN_REGULARITY       305236
AMT_PAYMENT_CURRENT           767988
AMT_PAYMENT_TOTAL_CURRENT          0
AMT_RECEIVABLE_PRINCIPAL           0
AMT_RECIVABLE                      0
AMT_TOTAL_RECEIVABLE               0
CNT_DRAWINGS_ATM_CURRENT      749816
CNT_DRAWINGS_CURRENT               0
CNT_DRAWINGS_OTHER_CURRENT    749816
CNT_DRAWINGS_POS_CURRENT      749816
CNT_INSTALMENT_MATURE_CUM     305236
NAME_CONTRACT_STATUS               0
SK_DPD                             0
SK_DPD_DEF                         0
dtype: int64

In [ ]:
# أو حذف الصفوف التي تحتوي على قيم مفقودة
credit_card_balance.dropna(inplace=True)

In [ ]:
credit_card_balance.columns.tolist()

['SK_ID_PREV',
 'SK_ID_CURR',
 'MONTHS_BALANCE',
 'AMT_BALANCE',
 'AMT_CREDIT_LIMIT_ACTUAL',
 'AMT_DRAWINGS_ATM_CURRENT',
 'AMT_DRAWINGS_CURRENT',
 'AMT_DRAWINGS_OTHER_CURRENT',
 'AMT_DRAWINGS_POS_CURRENT',
 'AMT_INST_MIN_REGULARITY',
 'AMT_PAYMENT_CURRENT',
 'AMT_PAYMENT_TOTAL_CURRENT',
 'AMT_RECEIVABLE_PRINCIPAL',
 'AMT_RECIVABLE',
 'AMT_TOTAL_RECEIVABLE',
 'CNT_DRAWINGS_ATM_CURRENT',
 'CNT_DRAWINGS_CURRENT',
 'CNT_DRAWINGS_OTHER_CURRENT',
 'CNT_DRAWINGS_POS_CURRENT',
 'CNT_INSTALMENT_MATURE_CUM',
 'NAME_CONTRACT_STATUS',
 'SK_DPD',
 'SK_DPD_DEF']

In [ ]:
credit_card_balance.shape

(3014276, 23)

In [ ]:
credit_card_balance.describe()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,SK_DPD,SK_DPD_DEF
count,3.014276e+06,3.014276e+06,3.014276e+06,3.014276e+06,3.014276e+06,3.014276e+06,3.014276e+06,3.014276e+06,3.014276e+06,3.014276e+06,...,3.014276e+06,3.014276e+06,3.014276e+06,3.014276e+06,3.014276e+06,3.014276e+06,3.014276e+06,3.014276e+06,3.014276e+06,3.014276e+06
mean,1.902040e+06,2.784976e+05,-3.672742e+01,7.224859e+04,1.469749e+05,4.732943e+03,7.622372e+03,1.585125e+02,2.712903e+03,4.151318e+03,...,6.936596e+04,7.201828e+04,7.203022e+04,2.715332e-01,8.098844e-01,3.644325e-03,5.347068e-01,2.441821e+01,1.169854e+01,3.466179e-01
std,5.370525e+05,1.026070e+05,2.674539e+01,1.143318e+05,1.498297e+05,2.402098e+04,3.322339e+04,5.871394e+03,1.991807e+04,5.851070e+03,...,1.103327e+05,1.140067e+05,1.140125e+05,9.985112e-01,3.450135e+00,7.083629e-02,3.187896e+00,1.959136e+01,1.091464e+02,2.133923e+01
min,1.000018e+06,1.000110e+05,-9.600000e+01,-2.614710e+05,0.000000e+00,-6.827310e+03,-6.211620e+03,0.000000e+00,0.000000e+00,0.000000e+00,...,-2.676150e+05,-2.617770e+05,-2.617770e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.430671e+06,1.899300e+05,-5.900000e+01,0.000000e+00,4.500000e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.000000e+00,0.000000e+00,0.000000e+00
50%,1.894004e+06,2.786060e+05,-3.100000e+01,9.013275e+02,1.350000e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.250000e+03,...,0.000000e+00,2.700000e+02,2.709450e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.900000e+01,0.000000e+00,0.000000e+00
75%,2.366482e+06,3.676410e+05,-1.300000e+01,1.161320e+05,1.800000e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.750000e+03,...,1.112282e+05,1.159782e+05,1.160082e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.600000e+01,0.000000e+00,0.000000e+00
max,2.843496e+06,4.562500e+05,-1.000000e+00,1.505902e+06,1.350000e+06,2.115000e+06,2.287098e+06,1.529847e+06,2.239274e+06,2.028820e+05,...,1.472317e+06,1.493338e+06,1.493338e+06,5.100000e+01,1.650000e+02,1.000000e+01,1.650000e+02,1.200000e+02,3.260000e+03,3.260000e+03

In [ ]:
# تنفيذ التجميع
# تجميع البيانات بناءً على SK_ID_CURR (معرف العميل) وحساب المجموع، المتوسط، والعدد
aggregation = credit_card_balance.groupby('SK_ID_CURR').agg({
    'AMT_BALANCE': ['sum', 'mean'],           # حساب المجموع والمتوسط للرصيد
    'AMT_CREDIT_LIMIT_ACTUAL': ['sum', 'mean'],  # حساب المجموع والمتوسط للحد الائتماني الفعلي
    'AMT_DRAWINGS_ATM_CURRENT': ['sum', 'mean'], # حساب المجموع والمتوسط للمبالغ المسحوبة من أجهزة الصراف الآلي
    'AMT_DRAWINGS_CURRENT': ['sum', 'mean'],    # حساب المجموع والمتوسط للمبالغ المسحوبة
    'AMT_PAYMENT_CURRENT': ['sum', 'mean'],    # حساب المجموع والمتوسط للمدفوعات
    'AMT_RECEIVABLE_PRINCIPAL': ['sum', 'mean'], # حساب المجموع والمتوسط للمبالغ المستحقة الرئيسية
    'AMT_RECIVABLE': ['sum', 'mean'],         # حساب المجموع والمتوسط للمبالغ المستحقة
    'AMT_TOTAL_RECEIVABLE': ['sum', 'mean'],  # حساب المجموع والمتوسط للمبالغ المستحقة الكلية
    'MONTHS_BALANCE': 'count',                # حساب عدد الأشهر لكل عميل
}).reset_index()

# تعديل أسماء الأعمدة لتكون أكثر وضوحًا
aggregation.columns = ['_'.join(col).strip() for col in aggregation.columns.values]

# عرض النتيجة
print(aggregation.head())

# حفظ النتيجة في ملف CSV جديد
aggregation.to_csv('aggregated_credit_card_balance.csv', index=False)

   SK_ID_CURR_  AMT_BALANCE_sum  AMT_BALANCE_mean  \
0       100011      3842676.225      52639.400342
1       100013      1581932.025      17774.517135
2       100028       377975.610       8999.419286
3       100042      2730008.250      32891.665663
4       100043      6056667.630     195376.375161

   AMT_CREDIT_LIMIT_ACTUAL_sum  AMT_CREDIT_LIMIT_ACTUAL_mean  \
0                     11970000                 163972.602740
1                     11542500                 129691.011236
2                      9450000                 225000.000000
3                      6525000                  78614.457831
4                      8617500                 277983.870968

   AMT_DRAWINGS_ATM_CURRENT_sum  AMT_DRAWINGS_ATM_CURRENT_mean  \
0                           0.0                       0.000000
1                      414000.0                    4651.685393
2                       18000.0                     428.571429
3                      265500.0                    3198.795181
4                       67500.0                    2177.419355

   AMT_DRAWINGS_CURRENT_sum  AMT_DRAWINGS_CURRENT_mean  \
0                      0.00                   0.000000
1                 414000.00                4651.685393
2                 292663.62                6968.181429
3                 429431.49                5173.873373
4                  67500.00                2177.419355

   AMT_PAYMENT_CURRENT_sum  AMT_PAYMENT_CURRENT_mean  \
0                358386.75               4909.407534
1                688161.24               7732.148764
2                281474.46               6701.772857
3                626027.13               7542.495542
4                669505.14              21596.940000

   AMT_RECEIVABLE_PRINCIPAL_sum  AMT_RECEIVABLE_PRINCIPAL_mean  \
0                   3697754.580                   50654.172329
1                   1499033.745                   16843.075787
2                    360587.250                    8585.410714
3                   2610809.145                   31455.531867
4                   5894140.905                  190133.577581

   AMT_RECIVABLE_sum  AMT_RECIVABLE_mean  AMT_TOTAL_RECEIVABLE_sum  \
0        3839055.255        52589.798014               3839055.255
1        1576283.445        17711.049944               1576283.445
2         373165.110         8884.883571                373165.110
3        2725132.635        32832.923313               2725132.635
4        6050887.650       195189.924194               6050887.650

   AMT_TOTAL_RECEIVABLE_mean  MONTHS_BALANCE_count
0               52589.798014                    73
1               17711.049944                    89
2                8884.883571                    42
3               32832.923313                    83
4              195189.924194                    31

In [ ]:
print(aggregation.isnull().sum())  # للتحقق من القيم المفقودة

SK_ID_CURR_                      0
AMT_BALANCE_sum                  0
AMT_BALANCE_mean                 0
AMT_CREDIT_LIMIT_ACTUAL_sum      0
AMT_CREDIT_LIMIT_ACTUAL_mean     0
AMT_DRAWINGS_ATM_CURRENT_sum     0
AMT_DRAWINGS_ATM_CURRENT_mean    0
AMT_DRAWINGS_CURRENT_sum         0
AMT_DRAWINGS_CURRENT_mean        0
AMT_PAYMENT_CURRENT_sum          0
AMT_PAYMENT_CURRENT_mean         0
AMT_RECEIVABLE_PRINCIPAL_sum     0
AMT_RECEIVABLE_PRINCIPAL_mean    0
AMT_RECIVABLE_sum                0
AMT_RECIVABLE_mean               0
AMT_TOTAL_RECEIVABLE_sum         0
AMT_TOTAL_RECEIVABLE_mean        0
MONTHS_BALANCE_count             0
dtype: int64

In [ ]:
aggregation.dropna(inplace=True)  # حذف الصفوف التي تحتوي على قيم مفقودة

In [ ]:
import pandas as pd

# تحميل الملفات CSV
installments = pd.read_csv('installments_payments.csv')

In [ ]:
installments.shape

(13605401, 8)

In [ ]:
installments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13605401 entries, 0 to 13605400
Data columns (total 8 columns):
 #   Column                  Dtype
---  ------                  -----
 0   SK_ID_PREV              int64
 1   SK_ID_CURR              int64
 2   NUM_INSTALMENT_VERSION  float64
 3   NUM_INSTALMENT_NUMBER   int64
 4   DAYS_INSTALMENT         float64
 5   DAYS_ENTRY_PAYMENT      float64
 6   AMT_INSTALMENT          float64
 7   AMT_PAYMENT             float64
dtypes: float64(5), int64(3)
memory usage: 830.4 MB

In [ ]:
installments.describe

<bound method NDFrame.describe of           SK_ID_PREV  SK_ID_CURR  NUM_INSTALMENT_VERSION  \
0            1054186      161674                     1.0
1            1330831      151639                     0.0
2            2085231      193053                     2.0
3            2452527      199697                     1.0
4            2714724      167756                     1.0
...              ...         ...                     ...
13605396     2186857      428057                     0.0
13605397     1310347      414406                     0.0
13605398     1308766      402199                     0.0
13605399     1062206      409297                     0.0
13605400     2448869      434321                     1.0

          NUM_INSTALMENT_NUMBER  DAYS_INSTALMENT  DAYS_ENTRY_PAYMENT  \
0                             6          -1180.0             -1187.0
1                            34          -2156.0             -2156.0
2                             1            -63.0               -63.0
3                             3          -2418.0             -2426.0
4                             2          -1383.0             -1366.0
...                         ...              ...                 ...
13605396                     66          -1624.0                 NaN
13605397                     47          -1539.0                 NaN
13605398                     43             -7.0                 NaN
13605399                     43          -1986.0                 NaN
13605400                     19            -27.0                 NaN

          AMT_INSTALMENT  AMT_PAYMENT
0               6948.360     6948.360
1               1716.525     1716.525
2              25425.000    25425.000
3              24350.130    24350.130
4               2165.040     2160.585
...                  ...          ...
13605396          67.500          NaN
13605397          67.500          NaN
13605398       43737.435          NaN
13605399          67.500          NaN
13605400       11504.250          NaN

[13605401 rows x 8 columns]>

In [ ]:
installments_agg = installments.groupby('SK_ID_CURR').agg({
    'NUM_INSTALMENT_VERSION': ['mean', 'max'],
    'NUM_INSTALMENT_NUMBER': ['mean', 'max'],
    'AMT_INSTALMENT': ['sum', 'mean', 'max'],
    'AMT_PAYMENT': ['sum', 'mean', 'max'],
    'DAYS_ENTRY_PAYMENT': ['min', 'max']
}).reset_index()

# تحويل الأعمدة إلى صيغة مناسبة
installments_agg.columns = ['_'.join(col).strip() if col[1] else col[0] for col in installments_agg.columns]

In [ ]:
print(installments_agg.head())

   SK_ID_CURR  NUM_INSTALMENT_VERSION_mean  NUM_INSTALMENT_VERSION_max  \
0      100001                     1.142857                         2.0
1      100002                     1.052632                         2.0
2      100003                     1.040000                         2.0
3      100004                     1.333333                         2.0
4      100005                     1.111111                         2.0

   NUM_INSTALMENT_NUMBER_mean  NUM_INSTALMENT_NUMBER_max  AMT_INSTALMENT_sum  \
0                    2.714286                          4           41195.925
1                   10.000000                         19          219625.695
2                    5.080000                         12         1618864.650
3                    2.000000                          3           21288.465
4                    5.000000                          9           56161.845

   AMT_INSTALMENT_mean  AMT_INSTALMENT_max  AMT_PAYMENT_sum  AMT_PAYMENT_mean  \
0          5885.132143           17397.900        41195.925       5885.132143
1         11559.247105           53093.745       219625.695      11559.247105
2         64754.586000          560835.360      1618864.650      64754.586000
3          7096.155000           10573.965        21288.465       7096.155000
4          6240.205000           17656.245        56161.845       6240.205000

   AMT_PAYMENT_max  DAYS_ENTRY_PAYMENT_min  DAYS_ENTRY_PAYMENT_max
0        17397.900                 -2916.0                 -1628.0
1        53093.745                  -587.0                   -49.0
2       560835.360                 -2324.0                  -544.0
3        10573.965                  -795.0                  -727.0
4        17656.245                  -736.0                  -470.0

In [ ]:
print(installments_agg.describe())

          SK_ID_CURR  NUM_INSTALMENT_VERSION_mean  NUM_INSTALMENT_VERSION_max  \
count  339587.000000                339587.000000               339587.000000
mean   278154.892278                     1.047498                    2.130435
std    102880.492598                     0.620751                    1.912109
min    100001.000000                     0.000000                    0.000000
25%    189042.500000                     1.000000                    1.000000
50%    278238.000000                     1.018519                    2.000000
75%    367315.500000                     1.111111                    2.000000
max    456255.000000                    39.000000                  178.000000

       NUM_INSTALMENT_NUMBER_mean  NUM_INSTALMENT_NUMBER_max  \
count               339587.000000              339587.000000
mean                     9.830926                  24.515553
std                     11.405171                  30.162714
min                      1.000000                   1.000000
25%                      4.560000                  10.000000
50%                      6.045455                  12.000000
75%                      9.500000                  24.000000
max                    144.208145                 277.000000

       AMT_INSTALMENT_sum  AMT_INSTALMENT_mean  AMT_INSTALMENT_max  \
count        3.395870e+05         3.395870e+05        3.395870e+05
mean         6.831369e+05         1.861577e+04        1.381566e+05
std          8.933805e+05         2.346509e+04        2.473304e+05
min          0.000000e+00         0.000000e+00        0.000000e+00
25%          1.366834e+05         7.897470e+03        1.432051e+04
50%          3.343952e+05         1.272616e+04        3.629011e+04
75%          8.577727e+05         2.164516e+04        1.329430e+05
max          3.247978e+07         2.504590e+06        3.771488e+06

       AMT_PAYMENT_sum  AMT_PAYMENT_mean  AMT_PAYMENT_max  \
count     3.395870e+05      3.395780e+05     3.395780e+05
mean      6.904942e+05      1.900381e+04     1.400438e+05
std       9.308977e+05      2.523135e+04     2.496554e+05
min       0.000000e+00      1.890000e-01     2.250000e-01
25%       1.332007e+05      7.582365e+03     1.439653e+04
50%       3.248035e+05      1.240398e+04     3.703561e+04
75%       8.497309e+05      2.164505e+04     1.350000e+05
max       3.268928e+07      2.504590e+06     3.771488e+06

       DAYS_ENTRY_PAYMENT_min  DAYS_ENTRY_PAYMENT_max
count           339578.000000           339578.000000
mean             -1600.875599             -328.433435
std                913.456514              537.367821
min              -4921.000000            -3071.000000
25%              -2493.000000             -387.000000
50%              -1557.000000              -65.000000
75%               -729.000000              -26.000000
max                 -3.000000               -1.000000

In [ ]:
print(installments_agg.columns)

Index(['SK_ID_CURR', 'NUM_INSTALMENT_VERSION_mean',
       'NUM_INSTALMENT_VERSION_max', 'NUM_INSTALMENT_NUMBER_mean',
       'NUM_INSTALMENT_NUMBER_max', 'AMT_INSTALMENT_sum',
       'AMT_INSTALMENT_mean', 'AMT_INSTALMENT_max', 'AMT_PAYMENT_sum',
       'AMT_PAYMENT_mean', 'AMT_PAYMENT_max', 'DAYS_ENTRY_PAYMENT_min',
       'DAYS_ENTRY_PAYMENT_max'],
      dtype='object')

In [ ]:
print(installments_agg.sample(10))

        SK_ID_CURR  NUM_INSTALMENT_VERSION_mean  NUM_INSTALMENT_VERSION_max  \
3627        103786                     1.387097                         2.0
197084      306908                     1.000000                         1.0
208117      318485                     1.117647                         2.0
258461      371288                     1.963636                         3.0
247979      360253                     1.045455                         2.0
66003       169176                     0.178571                         4.0
69422       172751                     0.000000                         0.0
296504      411361                     1.043478                         2.0
260769      373703                     0.522523                         2.0
21254       122257                     1.047619                         2.0

        NUM_INSTALMENT_NUMBER_mean  NUM_INSTALMENT_NUMBER_max  \
3627                     11.129032                         24
197084                    3.555556                          6
208117                    4.568627                         11
258461                    9.563636                         24
247979                    3.318182                          6
66003                    45.321429                        100
69422                    23.500000                         46
296504                   10.608696                        101
260769                   17.900901                         54
21254                     5.238095                         10

        AMT_INSTALMENT_sum  AMT_INSTALMENT_mean  AMT_INSTALMENT_max  \
3627           1545998.085         24935.452984           37593.990
197084          109614.825         12179.425000           12192.975
208117         1741915.170         34155.199412          385367.400
258461         2357238.465         42858.881182         1218610.980
247979          234129.240         10642.238182           51617.115
66003          1650843.000         14739.669643          316928.565
69422          1775020.500         38587.402174          123137.145
296504          120234.330          5227.579565            5303.700
260769         1377991.305         12414.336081           97029.765
21254           503948.025         23997.525000          114272.145

        AMT_PAYMENT_sum  AMT_PAYMENT_mean  AMT_PAYMENT_max  \
3627        1522170.090      24551.130484        37593.990
197084        73096.875       8121.875000        12192.975
208117      1741915.170      34155.199412       385367.400
258461      3587407.245      65225.586273      1310868.765
247979       234129.240      10642.238182        51617.115
66003       1740843.000      15543.241071       316928.565
69422       1775020.500      38587.402174       123137.145
296504        67220.865       2922.646304         5303.700
260769      1339503.795      12067.601757        97029.765
21254        429188.580      20437.551429       114272.145

        DAYS_ENTRY_PAYMENT_min  DAYS_ENTRY_PAYMENT_max
3627                   -1262.0                   -31.0
197084                  -944.0                  -796.0
208117                 -1834.0                   -36.0
258461                 -1981.0                  -102.0
247979                 -1911.0                   -40.0
66003                  -2378.0                   -49.0
69422                   -543.0                   -43.0
296504                 -2003.0                 -1634.0
260769                 -2385.0                   -37.0
21254                  -2122.0                  -458.0

In [ ]:
import pandas as pd
pos_cash = pd.read_csv('POS_CASH_balance.csv')

In [ ]:
pos_cash_agg = pos_cash.groupby('SK_ID_CURR').agg({
    'MONTHS_BALANCE': ['min', 'max', 'size'],
    'CNT_INSTALMENT': ['sum', 'mean'],
    'CNT_INSTALMENT_FUTURE': ['sum', 'mean'],
    'SK_DPD': ['sum', 'mean', 'max'],  # أيام التأخير
}).reset_index()

# تحويل الأعمدة إلى صيغة مناسبة
pos_cash_agg.columns = ['_'.join(col).strip() if col[1] else col[0] for col in pos_cash_agg.columns]

In [ ]:
print(pos_cash_agg.head())

   SK_ID_CURR  MONTHS_BALANCE_min  MONTHS_BALANCE_max  MONTHS_BALANCE_size  \
0      100001                 -96                 -53                    9
1      100002                 -19                  -1                   19
2      100003                 -77                 -18                   28
3      100004                 -27                 -24                    4
4      100005                 -25                 -15                   11

   CNT_INSTALMENT_sum  CNT_INSTALMENT_mean  CNT_INSTALMENT_FUTURE_sum  \
0                36.0             4.000000                       13.0
1               456.0            24.000000                      285.0
2               283.0            10.107143                      162.0
3                15.0             3.750000                        9.0
4               117.0            11.700000                       72.0

   CNT_INSTALMENT_FUTURE_mean  SK_DPD_sum  SK_DPD_mean  SK_DPD_max
0                    1.444444           7     0.777778           7
1                   15.000000           0     0.000000           0
2                    5.785714           0     0.000000           0
3                    2.250000           0     0.000000           0
4                    7.200000           0     0.000000           0

In [ ]:
print(pos_cash_agg.describe())

          SK_ID_CURR  MONTHS_BALANCE_min  MONTHS_BALANCE_max  \
count  337252.000000       337252.000000       337252.000000
mean   278163.132678          -52.874349          -12.591605
std    102877.889290           29.690356           18.648620
min    100001.000000          -96.000000          -96.000000
25%    189046.750000          -82.000000          -15.000000
50%    278241.500000          -51.000000           -4.000000
75%    367320.250000          -25.000000           -2.000000
max    456255.000000           -1.000000           -1.000000

       MONTHS_BALANCE_size  CNT_INSTALMENT_sum  CNT_INSTALMENT_mean  \
count        337252.000000       337252.000000        337224.000000
mean             29.655445          505.480080            14.654990
std              24.531971          591.571659             7.969848
min               1.000000            0.000000             1.000000
25%              12.000000          127.000000             9.625000
50%              22.000000          288.000000            12.000000
75%              39.000000          666.000000            18.600000
max             295.000000         7812.000000            72.000000

       CNT_INSTALMENT_FUTURE_sum  CNT_INSTALMENT_FUTURE_mean     SK_DPD_sum  \
count              337252.000000               337224.000000  337252.000000
mean                  310.092005                    9.176876     344.208618
std                   382.481670                    6.501034    5648.480084
min                     0.000000                    0.000000       0.000000
25%                    72.000000                    5.000000       0.000000
50%                   164.000000                    6.989411       0.000000
75%                   396.000000                   11.666667       0.000000
max                  5539.000000                   60.000000  267452.000000

         SK_DPD_mean     SK_DPD_max
count  337252.000000  337252.000000
mean        4.296271      15.294106
std        59.717229     151.343806
min         0.000000       0.000000
25%         0.000000       0.000000
50%         0.000000       0.000000
75%         0.000000       0.000000
max      2622.078431    4231.000000

In [ ]:
print(pos_cash_agg.columns)

Index(['SK_ID_CURR', 'MONTHS_BALANCE_min', 'MONTHS_BALANCE_max',
       'MONTHS_BALANCE_size', 'CNT_INSTALMENT_sum', 'CNT_INSTALMENT_mean',
       'CNT_INSTALMENT_FUTURE_sum', 'CNT_INSTALMENT_FUTURE_mean', 'SK_DPD_sum',
       'SK_DPD_mean', 'SK_DPD_max'],
      dtype='object')

In [ ]:
print(pos_cash_agg.sample(10))  # يعرض 10 صفوف عشوائية

        SK_ID_CURR  MONTHS_BALANCE_min  MONTHS_BALANCE_max  \
244939      358843                 -23                  -1
171176      280923                 -23                 -17
59736       163033                 -10                  -1
88910       193905                 -38                  -2
132759      240299                 -30                  -2
42852       145217                  -9                  -1
188240      298953                 -96                 -55
296630      413858                 -50                  -1
7226        107575                 -51                  -3
334393      453279                 -32                  -6

        MONTHS_BALANCE_size  CNT_INSTALMENT_sum  CNT_INSTALMENT_mean  \
244939                   23               552.0            24.000000
171176                    7                58.0             9.666667
59736                    10               100.0            10.000000
88910                    36               410.0            11.388889
132759                   29               348.0            12.000000
42852                    13               186.0            14.307692
188240                   47               542.0            11.531915
296630                   26               310.0            11.923077
7226                     58               777.0            13.396552
334393                   18               173.0             9.611111

        CNT_INSTALMENT_FUTURE_sum  CNT_INSTALMENT_FUTURE_mean  SK_DPD_sum  \
244939                      299.0                   13.000000           0
171176                       43.0                    7.166667           0
59736                        55.0                    5.500000           0
88910                       211.0                    5.861111           0
132759                       78.0                    2.689655          45
42852                       139.0                   10.692308           0
188240                      266.0                    5.659574           0
296630                      233.0                    8.961538           0
7226                        431.0                    7.431034          16
334393                       98.0                    5.444444           0

        SK_DPD_mean  SK_DPD_max
244939     0.000000           0
171176     0.000000           0
59736      0.000000           0
88910      0.000000           0
132759     1.551724          12
42852      0.000000           0
188240     0.000000           0
296630     0.000000           0
7226       0.275862          16
334393     0.000000           0

In [ ]:
import pandas as pd

# تحميل الملف
previous_app = pd.read_csv('previous_application.csv')

In [ ]:
print(previous_app.columns)

Index(['SK_ID_PREV', 'SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'AMT_ANNUITY',
       'AMT_APPLICATION', 'AMT_CREDIT', 'AMT_DOWN_PAYMENT', 'AMT_GOODS_PRICE',
       'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START',
       'FLAG_LAST_APPL_PER_CONTRACT', 'NFLAG_LAST_APPL_IN_DAY',
       'RATE_DOWN_PAYMENT', 'RATE_INTEREST_PRIMARY',
       'RATE_INTEREST_PRIVILEGED', 'NAME_CASH_LOAN_PURPOSE',
       'NAME_CONTRACT_STATUS', 'DAYS_DECISION', 'NAME_PAYMENT_TYPE',
       'CODE_REJECT_REASON', 'NAME_TYPE_SUITE', 'NAME_CLIENT_TYPE',
       'NAME_GOODS_CATEGORY', 'NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE',
       'CHANNEL_TYPE', 'SELLERPLACE_AREA', 'NAME_SELLER_INDUSTRY',
       'CNT_PAYMENT', 'NAME_YIELD_GROUP', 'PRODUCT_COMBINATION',
       'DAYS_FIRST_DRAWING', 'DAYS_FIRST_DUE', 'DAYS_LAST_DUE_1ST_VERSION',
       'DAYS_LAST_DUE', 'DAYS_TERMINATION', 'NFLAG_INSURED_ON_APPROVAL'],
      dtype='object')

In [ ]:
previous_app_agg = previous_app.groupby('SK_ID_CURR').agg({
    'AMT_CREDIT': ['mean', 'sum', 'max'],
    'AMT_ANNUITY': ['mean', 'sum', 'max'],
    'AMT_APPLICATION': ['mean', 'max'],
    'AMT_GOODS_PRICE': ['mean', 'max'],
    'DAYS_DECISION': ['min', 'max', 'mean'],
    'CNT_PAYMENT': ['mean', 'sum'],
    'NAME_CONTRACT_STATUS': lambda x: x.mode()[0] if not x.mode().empty else None,  # الحالة الأكثر شيوعًا
    'NAME_CASH_LOAN_PURPOSE': lambda x: x.mode()[0] if not x.mode().empty else None  # الغرض الأكثر شيوعًا
}).reset_index()

# حفظ الجدول بعد التجميع في ملف CSV جديد
previous_app_agg.to_csv('previous_app_agg.csv', index=False)
print("تم حفظ البيانات بعد التجميع في ملف previous_app_agg.csv")

KeyError: 'SK_ID_CURR'

In [ ]:
print(previous_app_agg.head())

  SK_ID_CURR AMT_CREDIT                       AMT_ANNUITY              \
                   mean        sum        max        mean         sum
0     100001   23787.00    23787.0    23787.0    3951.000    3951.000
1     100002  179055.00   179055.0   179055.0    9251.775    9251.775
2     100003  484191.00  1452573.0  1035882.0   56553.990  169661.970
3     100004   20106.00    20106.0    20106.0    5357.250    5357.250
4     100005   20076.75    40153.5    40153.5    4813.200    4813.200

             AMT_APPLICATION           AMT_GOODS_PRICE            \
         max            mean       max            mean       max
0   3951.000        24835.50   24835.5         24835.5   24835.5
1   9251.775       179055.00  179055.0        179055.0  179055.0
2  98356.995       435436.50  900000.0        435436.5  900000.0
3   5357.250        24282.00   24282.0         24282.0   24282.0
4   4813.200        22308.75   44617.5         44617.5   44617.5

  DAYS_DECISION               CNT_PAYMENT       NAME_CONTRACT_STATUS  \
            min   max    mean        mean   sum             <lambda>
0         -1740 -1740 -1740.0         8.0   8.0             Approved
1          -606  -606  -606.0        24.0  24.0             Approved
2         -2341  -746 -1305.0        10.0  30.0             Approved
3          -815  -815  -815.0         4.0   4.0             Approved
4          -757  -315  -536.0        12.0  12.0             Approved

  NAME_CASH_LOAN_PURPOSE
                <lambda>
0                    XAP
1                    XAP
2                    XAP
3                    XAP
4                    XAP

In [ ]:
print(previous_app_agg.columns)

MultiIndex([(            'SK_ID_CURR',         ''),
            (            'AMT_CREDIT',     'mean'),
            (            'AMT_CREDIT',      'sum'),
            (            'AMT_CREDIT',      'max'),
            (           'AMT_ANNUITY',     'mean'),
            (           'AMT_ANNUITY',      'sum'),
            (           'AMT_ANNUITY',      'max'),
            (       'AMT_APPLICATION',     'mean'),
            (       'AMT_APPLICATION',      'max'),
            (       'AMT_GOODS_PRICE',     'mean'),
            (       'AMT_GOODS_PRICE',      'max'),
            (         'DAYS_DECISION',      'min'),
            (         'DAYS_DECISION',      'max'),
            (         'DAYS_DECISION',     'mean'),
            (           'CNT_PAYMENT',     'mean'),
            (           'CNT_PAYMENT',      'sum'),
            (  'NAME_CONTRACT_STATUS', '<lambda>'),
            ('NAME_CASH_LOAN_PURPOSE', '<lambda>')],
           )

In [ ]:

import pandas as pd

# تحميل الملف
bureau_balance = pd.read_csv('bureau_balance.csv')

In [ ]:
bureau_balance.shape

(27299925, 3)

In [ ]:
bureau_balance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27299925 entries, 0 to 27299924
Data columns (total 3 columns):
 #   Column          Dtype
---  ------          -----
 0   SK_ID_BUREAU    int64
 1   MONTHS_BALANCE  int64
 2   STATUS          object
dtypes: int64(2), object(1)
memory usage: 624.8+ MB

In [ ]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [ ]:
# إجراء عملية التجميع على البيانات بناءً على SK_ID_BUREAU
bureau_balance_agg = bureau_balance.groupby('SK_ID_BUREAU').agg({
    'MONTHS_BALANCE': ['min', 'max', 'mean'],  # إحصائيات عمود MONTHS_BALANCE
    'STATUS': 'count'                         # حساب عدد السجلات لكل SK_ID_BUREAU
}).reset_index()

# تسمية الأعمدة الجديدة لتوضيح الإحصائيات
bureau_balance_agg.columns = [
    'SK_ID_BUREAU',
    'MONTHS_BALANCE_MIN',
    'MONTHS_BALANCE_MAX',
    'MONTHS_BALANCE_MEAN',
    'STATUS_COUNT'
]

# عرض النتائج بعد التجميع
print(bureau_balance_agg.head())

# حفظ الجدول بعد التجميع في ملف CSV جديد
bureau_balance_agg.to_csv('bureau_balance_agg.csv', index=False)
print("تم حفظ البيانات بعد التجميع في ملف bureau_balance_agg.csv")

   SK_ID_BUREAU  MONTHS_BALANCE_MIN  MONTHS_BALANCE_MAX  MONTHS_BALANCE_MEAN  \
0       5001709                 -96                   0                -48.0
1       5001710                 -82                   0                -41.0
2       5001711                  -3                   0                 -1.5
3       5001712                 -18                   0                 -9.0
4       5001713                 -21                   0                -10.5

   STATUS_COUNT
0            97
1            83
2             4
3            19
4            22
تم حفظ البيانات بعد التجميع في ملف bureau_balance_agg.csv

In [ ]:
import pandas as pd

# قراءة البيانات
bureau = pd.read_csv('bureau.csv')
print(bureau.head())

   SK_ID_CURR  SK_ID_BUREAU CREDIT_ACTIVE CREDIT_CURRENCY  DAYS_CREDIT  \
0      215354       5714462        Closed      currency 1         -497
1      215354       5714463        Active      currency 1         -208
2      215354       5714464        Active      currency 1         -203
3      215354       5714465        Active      currency 1         -203
4      215354       5714466        Active      currency 1         -629

   CREDIT_DAY_OVERDUE  DAYS_CREDIT_ENDDATE  DAYS_ENDDATE_FACT  \
0                   0               -153.0             -153.0
1                   0               1075.0                NaN
2                   0                528.0                NaN
3                   0                  NaN                NaN
4                   0               1197.0                NaN

   AMT_CREDIT_MAX_OVERDUE  CNT_CREDIT_PROLONG  AMT_CREDIT_SUM  \
0                     NaN                   0         91323.0
1                     NaN                   0        225000.0
2                     NaN                   0        464323.5
3                     NaN                   0         90000.0
4                 77674.5                   0       2700000.0

   AMT_CREDIT_SUM_DEBT  AMT_CREDIT_SUM_LIMIT  AMT_CREDIT_SUM_OVERDUE  \
0                  0.0                   NaN                     0.0
1             171342.0                   NaN                     0.0
2                  NaN                   NaN                     0.0
3                  NaN                   NaN                     0.0
4                  NaN                   NaN                     0.0

       CREDIT_TYPE  DAYS_CREDIT_UPDATE  AMT_ANNUITY
0  Consumer credit                -131          NaN
1      Credit card                 -20          NaN
2  Consumer credit                 -16          NaN
3      Credit card                 -16          NaN
4  Consumer credit                 -21          NaN

In [ ]:
# استخراج الأعمدة العددية فقط
numeric_cols = bureau.select_dtypes(include=['number']).columns

In [ ]:
# عملية التجميع
bureau_agg = bureau.groupby('SK_ID_CURR')[numeric_cols].agg(['mean', 'sum', 'count', 'std']).reset_index()

# تحسين أسماء الأعمدة
bureau_agg.columns = ['_'.join(col).strip('_') for col in bureau_agg.columns]
print(bureau_agg.head())

# حفظ النتائج في ملف CSV
bureau_agg.to_csv('bureau_agg.csv', index=False)
print("تم حفظ البيانات المجمعة في ملف 'bureau_agg.csv'")

   SK_ID_CURR  SK_ID_CURR_mean  SK_ID_CURR_sum  SK_ID_CURR_count  \
0      100001         100001.0          700007                 7
1      100002         100002.0          800016                 8
2      100003         100003.0          400012                 4
3      100004         100004.0          200008                 2
4      100005         100005.0          300015                 3

   SK_ID_CURR_std  SK_ID_BUREAU_mean  SK_ID_BUREAU_sum  SK_ID_BUREAU_count  \
0             0.0        5896633.000          41276431                   7
1             0.0        6153272.125          49226177                   8
2             0.0        5885878.500          23543514                   4
3             0.0        6829133.500          13658267                   2
4             0.0        6735201.000          20205603                   3

   SK_ID_BUREAU_std  DAYS_CREDIT_mean  ...  AMT_CREDIT_SUM_OVERDUE_count  \
0          2.160247       -735.000000  ...                             7
1      15935.004993       -874.000000  ...                             8
2          1.290994      -1400.750000  ...                             4
3          0.707107       -867.000000  ...                             2
4          1.000000       -190.666667  ...                             3

   AMT_CREDIT_SUM_OVERDUE_std  DAYS_CREDIT_UPDATE_mean  \
0                         0.0               -93.142857
1                         0.0              -499.875000
2                         0.0              -816.000000
3                         0.0              -532.000000
4                         0.0               -54.333333

   DAYS_CREDIT_UPDATE_sum  DAYS_CREDIT_UPDATE_count  DAYS_CREDIT_UPDATE_std  \
0                    -652                         7               77.204120
1                   -3999                         8              518.522472
2                   -3264                         4              908.053963
3                   -1064                         2              212.132034
4                    -163                         3               58.594653

   AMT_ANNUITY_mean  AMT_ANNUITY_sum  AMT_ANNUITY_count  AMT_ANNUITY_std
0       3545.357143          24817.5                  7      4800.607529
1          0.000000              0.0                  7         0.000000
2               NaN              0.0                  0              NaN
3               NaN              0.0                  0              NaN
4       1420.500000           4261.5                  3      2460.378172

[5 rows x 57 columns]
تم حفظ البيانات المجمعة في ملف 'bureau_agg.csv'